
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #000;
  border-radius: 12px;
}
.modal-content h2 {
  margin-top: 0;
}

.modal-open {
  overflow: hidden;
}

.modal ul {
  padding-left: 0;
}
.modal li strong {
  min-width: 115px;
}
.modal li {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #04aa6d;
  color: white;
}

.mt-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  padding: 8px 24px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border-width: 1px;
  border-color: #000;
  background-color: #04aa6d;
}
.d-flex {
  display: flex;
}
.check-list ul {
  list-style: none;
  max-width: 300px;
}
.check-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  background-color: lightgray;
  margin-bottom: 10px;
}

.check-list button {
  margin-left: auto;
  font-size: 12px;
  padding: 6px 10px;
}

.pagination ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}
.pagination ul li:not(.previous, .next) a {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #000;
  margin-right: 10px;
}

.pagination ul li:not(.previous, .next):hover a {
  color: #fff;
  background-color: #04aa6d;
}
.pagination ul li.is-active a {
  color: #fff;
  background-color: #04aa6d;
}

li.disabled button {
  cursor: not-allowed;
  opacity: 0.3;
  color: black;
  background-color: #aaaaaa;
}

input,
select {
  outline: none;
  margin-top: 6px;
  padding: 6px 12px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.loader p {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #04aa6d;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loader.spinner-sm {
  height: 40px;
  position: absolute;
  left: 8px;
  top: 8px;
}
.loader.spinner-sm p {
  width: 24px;
  height: 24px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #04aa6d;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
